@charset "utf-8";

/* 
* {
    border: 1px solid gray;
} */


body {
    max-width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: Arial, sans-serif;
}

#frog {
    height: 1.4em;
    vertical-align: bottom;
}

header {
    font-size: 25px;
    color: navy;
}
header span{
    vertical-align: center;
}

h3 {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0px;
}

li {
    padding: 5px;
}

footer{
    text-align: center;
    font-size: 0.7em;
    color: gray;
}
#logo {
    width: 250px;
}

a {
    text-decoration: none;
}